

<nav class="navbar navbar-expand-md navbar-dark bg-dark">


  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          


          <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/grafo"> Mapa
                  <img src="assets/images/grafo.png " height="50" width="50">
                </a>
          </li>

      </ul>
  </div>



  <div class="mx-auto order-0">

        <a  class="nav-link"  href="#" routerLink="/home" >
            <img src="assets/images/icon.png " height="50" width="50 " >   
        </a>
  </div>
  
  <div class="mx-auto order-0">
    <h4 style="color:white;"  >RailSpot</h4>
</div>

  <div class="navbar-collapse collapse w-100 order-1 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown  dropleft">


          <a class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" href="#">Usuario</a>
            <a class="dropdown-item" href="#">Administrador</a>
          </a>
    
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > 
            <img src="assets/images/person.png " height="50" width="50">
          </a>
         
        </li>

          <li class="nav-item">
              <a class="nav-link" href="#"></a>
          </li>


      </ul>
  </div>
</nav>


<router-outlet></router-outlet>




<router-outlet></router-outlet>

