<p>Comprar Boletos</p>

<div class="d-flex flex-row">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Parada inicial
        </button>
        <div class="dropdown-menu" aria-labelledby="2">
          <button class="dropdown-item" type="button">Cartago</button>
          <button class="dropdown-item" type="button">TEC</button>
          <button class="dropdown-item" type="button">Taras</button>
        </div>
      </div>
  

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Destino
        </button>
        <div class="dropdown-menu" aria-labelledby="1">
          <button class="dropdown-item" type="button">Desampakistán</button>
          <button class="dropdown-item" type="button">Chepe</button>
          <button class="dropdown-item" type="button">San Pedro</button>
        </div>
      </div>


    <div class="input-group mb-3" class="w-25 p-3">
        <input type="text" class="form-control" placeholder="Cantidad de boletos" aria-label="Username" aria-describedby="basic-addon1">
    </div>


    <button onclick="foo()" type="button" class="btn btn-primary">Comprobar precio</button>

</div>