


<div class="image">
            
        <div class="btn-group btn-group-toggle btn-group-lg " data-toggle="buttons" > 
            
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option3" autocomplete="off"> Modificar Ruta
            </label>

            <!--
              ////////////////////////////////////////////////////////////////////////////////////////////////
            -->

              <button id="test" class="btn btn-secondary" 
                      type="button" id="2" 
                      data-toggle="dropdown"
                      aria-haspopup="true" 
                      aria-expanded="false"
                      data-toggle="modal"
                      data-target="#modalrutas">
                      Crear Ruta
              </button> 
                      
          
                

            <!--
              ////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" (click)= "descargarFacturasJson()"> Descargar base de datos
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Borrar Ruta
            </label>
            <label class="btn btn-secondary">

                      <div class="dropdown">
                              <button id="test" class="btn btn-secondary dropdown-toggle" 
                                      type="button" id="2" 
                                      data-toggle="dropdown"
                                      aria-haspopup="true" 
                                      aria-expanded="false">
                                      Visualizar Compras por Fecha
                              </button>
                          
                                <div class="dropdown-menu" 
                                                    aria-labelledby="2">
                                
                                                <li  *ngFor="let User of recibos;">
                                                      <button id="test" class="dropdown-item" type="button"                                                      
                                                            *ngFor="let compra of User.compras;"
                                                            value="compra.fecha"
                                                            (click)="LlamarReciboIndi(compra.desde,compra.hasta,compra.fecha,compra.activo,compra.costo);"
                                                            data-toggle="modal"
                                                            data-target="#modalrecibosParaFechas"
                                
                                                      >{{compra.fecha}}</button>
                                                </li>
                                </div>
                      </div>

            </label>

            <!--POR RUTA-->

            <label class="btn btn-secondary">
              <div class="dropdown">
                <button id="test" class="btn btn-secondary dropdown-toggle" 
                        type="button" id="2" 
                        data-toggle="dropdown"
                        aria-haspopup="true" 
                        aria-expanded="false">
                        Visualizar Compras por Ruta
                </button>
            
                  <div class="dropdown-menu" 
                                      aria-labelledby="2">
                  
                                    <li  *ngFor="let User of recibos;">
                                        <button id="test" class="dropdown-item" type="button"
                                              *ngFor="let compra of User.compras;"
                                              value="compra.fecha"
                                              (click)="LlamarReciboIndi(compra.desde,compra.hasta,compra.fecha,compra.activo,compra.costo);"

                                              data-toggle="modal"
                                              data-target="#modalrecibosParaRutas"
                  
                                        >{{compra.desde}} a  {{compra.hasta}}</button>
                                  </li>
                  </div>
              </div>

            </label>
            <!--POR   ID-->

            <label class="btn btn-secondary">
                    <div class="dropdown">
                            <button id="test" class="btn btn-secondary dropdown-toggle" 
                                    type="button" id="2" 
                                    data-toggle="dropdown"
                                    aria-haspopup="true" 
                                    aria-expanded="false">
                                    Visualizar Compras por ID
                            </button>
                    
                                  <div class="dropdown-menu" 
                                      aria-labelledby="2">
                                        <button id="test" class="dropdown-item" type="button"
                                              *ngFor="let m of recibos;"
                                              value="m.id"
                                              (click)="LlamarRecibo(m.id, m.compras);"
                                              data-toggle="modal"
                                              data-target="#modalrecibos"

                                        >{{m.id}}</button>
                                  </div>
                      </div>
            </label>

<!--

////////////////////////////////////________Contenido dropdown ID___________///////////////////////////////////////////////////////////////

-->




<!--

////////////////////////////////////________Contenido dropdown Ruta___________///////////////////////////////////////////////////////////////                            

--> 
        

    
        <div class="texto-encima">
          Bienvenido Técnico de Railspot
        </div>
</div>


<!--


////////////////////////////////////________MODAL POR FECHAS___________///////////////////////////////////////////////////////////////



--> 


    <div class="modal fade" id="modalrecibosParaFechas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <!--Titulo-->
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Ver tiquete comprado el {{currentID}}
            </h5>
          </div>
          <!--Cuerpo-->
          <div class="modal-body" *ngFor="let compra of currrentCompra;" style='{{returnColor(compra.activo)}}' >

            <h3>--Tiquete--</h3>      
            <h4>Costo: {{compra.costo}}</h4>
            <h4>Desde: {{compra.desde}}</h4>
            <h4>Hasta: {{compra.hasta}}</h4>
            <h4>Fecha: {{compra.fecha}}</h4>
            <h4>Estado: {{returnState(compra.activo)}} </h4>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
<!--


////////////////////////////////////________MODAL POR RUTAS___________///////////////////////////////////////////////////////////////



--> 


<div class="modal fade" id="modalrecibosParaRutas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <!--Titulo-->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Ver tiquete comprado hacia {{currentID}}
        </h5>
      </div>
      <!--Cuerpo-->
      <div class="modal-body" *ngFor="let compra of currrentCompra;" style='{{returnColor(compra.activo)}}' >

        <h3>--Tiquete--</h3>      
        <h4>Costo: {{compra.costo}}</h4>
        <h4>Desde: {{compra.desde}}</h4>
        <h4>Hasta: {{compra.hasta}}</h4>
        <h4>Fecha: {{compra.fecha}}</h4>
        <h4>Estado: {{returnState(compra.activo)}} </h4>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row">

  <!--


////////////////////////////////////________Contenido dropdown CreacionRuta___________///////////////////////////////////////////////////////////////


--> 


<div class="modal fade" id="modalrutas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <!--Titulo-->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Escoja las direcciones de su nueva ruta
        </h5>
      </div>
      <!--Cuerpo-->
      <div class="modal-body">
        <form>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" 
                    type="button" id="2" 
                    data-toggle="dropdown"
                    aria-haspopup="true" 
                    aria-expanded="false">
                      Parada inicial
            </button>
    
            <div class="dropdown-menu" 
                aria-labelledby="2">
                  <button class="dropdown-item" type="button"
                        *ngFor="let m of markers;"
                  
                  
                  >{{ m.label}}</button>
    
            </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" 
                  type="button" id="2" 
                  data-toggle="dropdown"
                  aria-haspopup="true" 
                  aria-expanded="false">
                    Parada Final
          </button>
  
          <div class="dropdown-menu" 
              aria-labelledby="2">
                <button class="dropdown-item" type="button"
                      *ngFor="let m of markers;"
                
                
                >{{ m.label}}</button>
  
          </div>
      </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Listo
        </button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row">

<!--


////////////////////////////////////________MODAL NORMAL___________///////////////////////////////////////////////////////////////


--> 


<div class="modal fade" id="modalrecibos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                  
                  <!--Titulo-->
                  <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Ver tiquetes comprados por {{currentID}}
                        </h5>
                  </div>
                      <!--Cuerpo-->
                      <div class="modal-body" *ngFor="let compra of currentCompras;"style='{{returnColor(compra.activo)}}' >

                        <h3>--Tiquete--</h3>      
                        <h4>Costo: {{compra.costo}}</h4>
                        <h4>Desde: {{compra.desde}}</h4>
                        <h4>Hasta: {{compra.hasta}}</h4>
                        <h4>Fecha: {{compra.fecha}}</h4>
                        <h4>Estado: {{returnState(compra.activo)}}


                        </h4>

                         
                      </div>
                            <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cerrar
                                  </button>
                            </div>
                    </div>
              </div>
      </div>

   

      <div class="d-flex flex-row">