<!--


  

////////////////////////////////////_______MAPA_____________///////////////////////////////////////////////////////////////



--> 

<agm-map [latitude]= "lat1" [longitude]="lng1"  [zoom]=10>
    <!----
  <agm-direction 

        *ngFor="let m of dirs" 
        [origin]="m.origin" 
        [destination]="m.destination" 
        [renderOptions]="renderOptions"
        [markerOptions]="markerOptions"
        >

  </agm-direction>
---->

 
  <agm-marker 
          *ngFor="let m of markers;"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [iconUrl]="markerOptions"

                (markerClick)="clickedMarker(infowindow)">
                <agm-info-window #infowindow>
                    {{m.label}}
                  </agm-info-window>
            
            </agm-marker>

        <li *ngFor="let m of markers;">
            <agm-polyline  [visible]="true"  [strokeWeight]="1"  *ngFor="let dir of m.rutas">        

                <!--Recorro el JSON array de la estación-->
                            <!--ORIGEN-->
                            <agm-polyline-point
                            
                                [latitude]=m.lat
                                [longitude]= m.lng>
                            </agm-polyline-point>

                            <!--DESTINO-->
                            <agm-polyline-point
                                [latitude]=dir.destination.lat
                                [longitude]= dir.destination.lng>
                            </agm-polyline-point>
                    
                            <agm-icon-sequence [strokeColor]="'black'" [repeat]="'30px'"  [strokeWeight]="1" [fillColor]="'blue'" [fillOpacity]=1  [scale]="0.5"  [path]="'M 0,0 5,15 -5,15 0,0 z'"></agm-icon-sequence>
                    
            </agm-polyline>
        </li>
</agm-map>



<!--


////////////////////////////////////__________DROPBOX INICIO__________///////////////////////////////////////////////////////////////



-->  

<div class="d-flex flex-row">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" 
                type="button" id="2" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false">
                  {{currentText}}
        </button>

        <div class="dropdown-menu" 
            aria-labelledby="2">
              <button class="dropdown-item" type="button"
                    *ngFor="let m of markers;"
              
               (click)="cambiarTexto(m.label);"
              
              >{{ m.label}}</button>

        </div>
    </div>
 <!--


////////////////////////////////////_______SEGUNDO DROPBOX_____________///////////////////////////////////////////////////////////////



-->  

<div class="d-flex flex-row">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" 
                type="button" id="3" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false">
                  {{currentText2}}
        </button>

        <div class="dropdown-menu" 
            aria-labelledby="2">
              <button class="dropdown-item" type="button"
                    *ngFor="let m of markers;"
              
               (click)="cambiarTexto2(m.label);"
              
              >{{ m.label}}</button>

        </div>
    </div>
<!--


////////////////////////////////////________ENTRY PARA NUMEROS____________///////////////////////////////////////////////////////////////



--> 

    <div class="input-group mb-3" class="w-25 p-3">
        <input 
            type="text" 
            class="form-control" 
            id="tiquetes"
            placeholder="Cantidad de boletos" 
            aria-label="Username" 
            aria-describedby="basic-addon1">
    </div>
<!--


////////////////////////////////////_________VERIFICAR PRECIO___________///////////////////////////////////////////////////////////////



--> 
<button (click)="precio();"
            type="button" 
            class="btn btn-primary">
            Comprobar precio

    </button>
    <h1 id="precioTotal"></h1>


<!--


////////////////////////////////////_________COMPRA___________///////////////////////////////////////////////////////////////

--> 


    <div class="input-group mb-3" class="w-25 p-3">
        <input 
            type="text" 
            class="form-control" 
            id="identidad"
            placeholder="Ingresar cédula" 
            aria-label="Username" 
            aria-describedby="basic-addon1">
    </div>

<button (click)="comprar();"
            type="button" 
            class="btn btn-primary">
            Comprar tiquetes
</button>

<h1 id="prueba1"></h1>
</div>
